<ion-view>
  <ion-nav-title>
    <span class="title">我的报名</span>
  </ion-nav-title>

  <ion-nav-buttons side="right" >
    <button class="button light button-icon icon ion-android-share-alt" ng-click="shareWeChat()"></button>
  </ion-nav-buttons>
  <ion-content style="background: #eeeeee">

    <h4 style="text-align: center">{{myApply['Profession']}}</h4>
    <img style="width: 100%;height: 150px" ng-src="{{rootPicUrl + myApply['SignPicRef']['Url']}}"/>


    <div style="    margin: 30px 0 0 30px;">
      <i class="ion-android-list" style="color: #f96a9f;font-size: 21px; margin: 0px 0 0 -20px;position: absolute;"></i>
      <p>报名规则</p>
      <p>报名费:{{myApply['SignUpCost']}}元</p>
      <p>奖励积分:{{myApply['Tel']}}</p>
      <p>截止时间:{{myApply['Time'] | date:'yyyy-MM-dd'}}</p>
    </div>
    <br>
    <p>{{myApply['SignProjectRef']['Content']}}</p>
  </ion-content>
</ion-view>
