<style>
  .editor{
    margin: -28px 0px 0px 23%;
    /* background: red; */
    width: 72%;
    float: right;
    /* right: 50px; */
    text-align: right;
    padding: 0px 10px 0 0px;
  }
</style>
<ion-view>
  <ion-nav-title>
    <span class="title">个人信息</span>
  </ion-nav-title>

  <ion-nav-buttons >
    <button class="button button-icon light ion-ios-arrow-back" ui-sref="tabs.person_teacher"></button>
  </ion-nav-buttons>

  <ion-content style="background-color: #f1f1f1">
    <!--<div class="logininput">-->
      <!--<i class="ion-ios-person-outline" style="font-size: 30px;color:white;    padding: 0px 13px 0;"></i>-->
      <!--<input type="text" class="loginaccount " placeholder="请输入账号" ng-model="user.num " >-->
    <!--</div>-->
    <ion-list>
      <ion-item class="item-divider">
        <div  >
          <h2 style="margin: 10px 0 0 10px;">姓名</h2>
          <input type="text" ng-model="teacherInfo.Name" class="editor">
        </div>
      </ion-item>

      <ion-item class="item-divider">
        <div  >
          <h2 style="margin: 10px 0 0 10px;">性别</h2>
          <input type="text" ng-model="teacherInfo.Gender" class="editor">
        </div>
      </ion-item>
      <ion-item class="item-divider" >
        <div  >
          <h2 style="    margin: 10px 0 0 10px;">民族</h2>
          <input type="text" ng-model="teacherInfo.National" class="editor">
        </div>
      </ion-item>
      <ion-item class="item-divider">
        <div  >
          <h2 style="    margin: 10px 0 0 10px;">入职时间</h2>
          <input type="text" ng-model="teacherInfo.InductionTime |date:'yyyy-MM-dd'" class="editor">
        </div>
      </ion-item>
      <ion-item class="item-divider">
        <div  >
          <h2 style="    margin: 10px 0 0 10px;">负责专业</h2>
          <input type="text" ng-model="teacherInfo.ProfessionName" class="editor">
        </div>
      </ion-item>
    </ion-list>
    <div class="message">
      <div>教师信息</div>
      <hr>
      <p>{{teacherInfo.TeacherInfo}}</p>
    </div>


  </ion-content>
</ion-view>
