<ion-view view-title="明星学员">
  <ion-content>
    <div class="headbk" ng-repeat="headbk in headbks">
      <img src="{{headbk.img}}" class="mebk">
      <img src="{{headbk.headimg}}" class="head">
      <p class="myneme">{{headbk.myname}}</p>
      <i class="ion-edit" ng-click="editor()"></i>
      <hr>
    </div>
    <div class="stud">
      <button ng-click="learnSit()" class="buttonPer">学习情况</button>
      <button ng-click="studentHon()" class="buttonPer">学员荣耀</button>
      <button ng-click="techerCom()" class="buttonPer">教室评语</button>
    </div>


    <div>
          <ion-item ui-sref="tabs.learn-garden" class=" item-icon-right"  >
            <a><h2 class="persontext"> 学习园</h2></a>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>

        <ion-item class=" item-icon-right" ui-sref="tabs.my-dynamic">
          <a><h2 class="persontext"> 我的动态</h2></a>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>

        <ion-item class=" item-icon-right" ui-sref="tabs.myApply">
          <a><h2 class="persontext"> 我的报名</h2></a>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
    </div>

    <div style="padding-top: 25px">
      <ion-item class=" item-icon-right"  ui-sref="tabs.myApply">
        <a><h2 class="persontext"> 设置</h2></a>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </div>

  </ion-content>
</ion-view>
