<ion-view view-title="密码修改">
  <ion-content>
    <div class="login-body">
      <label class="item item-input ">
        账号：
        <input  type="text" placeholder="手机号码" style="padding-left: 5%">
      </label>
      <label class="item item-input ">
        <input  type="text" placeholder="请输入手机验证吗" style="padding-left: 4%">
        <button class="button  button-calm"
                style="width: 45%" ng-click="login()">获取验证码</button>
      </label>
      <label class="item item-input ">
        密码：        <input  type="text" placeholder="请输入密码" style="padding-left: 6%">
      </label>
      <label class="item item-input ">
        再次输入：        <input  type="text" placeholder="请输入密码" style="padding-left: 6%">
      </label>
    </div >
    <div class="login4">
      <button class="button  button-calm"
              style="width: 89%" ng-click="sign()">注册</button>
    </div>
  </ion-content>
</ion-view>
