<ion-view>
  <ion-nav-title>
    <span class="title">设置</span>
  </ion-nav-title>

  <ion-nav-buttons>
    <button class="button button-icon light ion-ios-arrow-back" ui-sref="tabs.person{{type}}"></button>
  </ion-nav-buttons>

  <ion-content  style="background-color: #f1f1f1">
    <div>
      <ion-item class=" item-icon-right" ui-sref="chaPassword" >
        <a><h2 class="persontext"> 修改密码</h2></a>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class=" item-icon-right" ui-sref="">
        <a class="button" ng-click="clean()"><h2 class="persontext"> 清除缓存</h2></a>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </div>
    <div  style="margin: 65px 0 0;">
      <ion-item class=" item-icon-right" ui-sref="">
        <h2 class="persontext" > 当前版本</h2>
        <p class="icon" style="font-size: 18px">1.0</p>
      </ion-item>
      <div>
        <ion-item class=" item-icon-right" ui-sref="" >
          <a><h2 class="persontext"> 检验更新</h2></a>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>

        <ion-item class=" item-icon-right" ui-sref="aboutUs">
          <a><h2 class="persontext"> 关于我们</h2></a>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </div>
    </div>

  </ion-content>
</ion-view>
