<ion-view>
  <ion-nav-title>
    <span class="title">课程详情</span>
  </ion-nav-title>
  <ion-content>



    <!--<p style="margin: 7px 10px;">{{course['ProfName']}}</p>-->

<!--<<<<<<< HEAD-->
    <p style="margin: 7px 10px;">{{courseDetail['Name']}}</p>
    <img ng-src="{{courseDetail['PicRef'].Url}}" style="width: 100%;height: 145px"/>
<!--=======-->
    <!--<p style="margin: 7px 10px;">{{course['ProfName']}}</p>-->
    <!--&lt;!&ndash;<p style="text-align: center">{{courseDetail['Name']}}</p>&ndash;&gt;-->
    <!--&lt;!&ndash;<img ng-src="img/course/coursebk.png" style="width: 100%;height: 145px"/>&ndash;&gt;-->
<!--&gt;>>>>>> d314ee932d32aab50499c79423127cb07f9a65c7-->

    <div>
      <img ng-src="img/course/coursebk.png" style="width: 100%;height: 145px"/>

      <div style="position:absolute;z-indent:2;left: 12px;color: white;top: 43px;font-size: 16px;">
        {{courseDetail['Name']}}
      </div>
    </div>
    <p style="  text-indent:2em;   margin: 5px 10px;text-align: justify;">{{courseDetail['Content']}}</p>

  </ion-content>

</ion-view>
