<ion-view>
  <ion-nav-title>
    <span class="title">成果详情</span>
  </ion-nav-title>

  <ion-content style="background-image:url(img/outcom/outcombk.png);height: 100%;width:100%;background-repeat: no-repeat">
    <img src="{{outcomeDetail.img}}" class="outcomeImg"/>
    <h4 class="title" style="margin:  -95px 10px 40px 35%;">{{outcomeDetail['Title']}}</h4>
    <p style="font-size: 13px;float: right;margin: 0px 10px;">{{outcomeDetail['Time']| date : 'yyyy-MM-dd'}}</p><br>
    <div><p style=" text-align: justify;   margin: 0px 15px;text-indent: 2em;">{{outcomeDetail['Content']}}</p></div>
  </ion-content>
</ion-view>
