<style>
  a{
    text-decoration: none;
    color: #111111;
  }
</style>
<ion-view>
  <ion-nav-title>
    <span class="title">课程介绍</span>
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-arrow-back" ui-sref="tabs.home"></button>
  </ion-nav-buttons>
  <ion-content class="has-header ionic-pseudo">
    <div class="list">

      <div>
        <div  class="has-header" ng-repeat="course in courses">

          <div class="h5 title item-divider "> {{course.courseKind}}</div>

          <div class="row">

            <div class="col-20" ng-repeat="detail in course.courseDetail" ng-if="detail._id <= 2">
              <a href="#/course-introduce/{{course.id}}{{detail._id}}">{{detail.name}}</a>
            </div>
          </div>
          <div class="row">
            <div class="col-20" ng-repeat="detail in course.courseDetail" ng-if="detail._id> 2">
              <a  href=" #/course-introduce/{{course.id}}{{detail._id}}">{{detail.name}}</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
