<ion-view view-title="校园成果" >

  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-arrow-back" ui-sref="tabs.home"></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher
      pulling-text="下拉刷新"
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="ionic-pseudo">
      <div class="list">
        <a class="item item-thumbnail-left" ng-repeat="outcome in schOutcomes" href="#/school-outcome/outcome{{outcome.id}}">
          <div class="item-thumbnail-left">
          <img ng-src="{{outcome.img}}">
          <p style="margin: 10px 0 0 0px;">{{outcome.title}}</p>
           <p style="float: right;margin: 10px 5% 0 0px;">{{outcome.time | date : 'yyyy-MM-dd'}}</p>

          </div>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
