<style type="text/css">
  img{
    border: none;

  }
  *{ margin: 0px; padding: 0px;}
  li{ list-style: none;}
  .content{ width: 1020px; height:110px; overflow: hidden;margin:10px auto 0 0; }
  .content ul{ width: 1020px; height:100px;}
  *{ margin:0; padding:0; list-style:none;}
  #box{ width:840px; border:1px solid #000; height:210px; margin:30px auto; position:relative; overflow:hidden;}
  #box ul{ position:absolute; left:0; top:0;}
  #box ul li{ width:200px; height:200px; float:left; padding:5px;}
</style>
<ion-view>
  <ion-nav-title>
    <span class="title">明星秀</span>
  </ion-nav-title>

  <ion-content style="background: #eeeeee">
    <ion-slide-box does-continue="true" auto-play="true" show-pager="true" style="margin-bottom: -5px">
      <ion-slide ng-repeat="banner in banners">
        <img ng-src="{{rootPicUrl + banner['Url']}}" height="40%" width="100%">

        <p class="dark " style="margin:-50px 10px 10px 10px ;font-size: 14px;">{{banner.Content}}</p>
      </ion-slide>
    </ion-slide-box>

    <div class="button-bar a_image shadow">
      <a class="button button-light" ng-click="intoSchOutcome()"><img src="img/logo/cg.png"/>学校成果</a>
      <a class="button button-light" ng-click="intoCourseIntr()"><img src="img/logo/kc.png"/>课程介绍</a>
      <a class="button button-light" ng-click="intoTeacherApti()"><img src="img/logo/sz.png"/>师资力量</a>
      <a class="button button-light" ng-click="goHonor()"><img src="img/logo/ry.png"/>荣誉区</a>
      <a class="button button-light" ng-click="goTeacherStyle()"><img src="img/logo/jsfc.png"/>教师风采</a>
    </div>


    <div class="light-bg shadow" style="height: 30px;margin: 10px 0px">
      <marquee onmouseover="stop()" onmouseout="start()" width="82%" scrollamount="5">
      <span ng-repeat="dynamic in dynamics" style="line-height: 30px;">
        <a style="text-decoration: none" ng-if="dynamic === dynamics[0]">学校动态:{{dynamic['Title']}}&nbsp&nbsp</a>
        <a style="text-decoration: none" ng-if="dynamic != dynamics[0]">{{dynamic['Title']}}&nbsp&nbsp</a>
      </span>
      </marquee>
      <button ng-click="intoSchoolDynamic()" class="more button-clear " style="line-height: 35px; margin: -5px 0px 0;font-size: 14px">更多
        <i class="iocn ion-chevron-right"></i></button>
    </div>

    <ion-slide-box does-continue="true" auto-play="true" show-pager="false" >
      <ion-slide ng-repeat="apply in applys">

        <h5 style="color:#429EDC">{{apply['Title']}}</h5>
        <img ng-src="{{rootPicUrl + apply['PicRef']['Url']}}" style="width: 100%;height: 140px">

      </ion-slide>
    </ion-slide-box>



    <div class="light-bg shadow" style="margin: 30px 0px 0;padding: 5px 0 5px 0;">

      <div class="content" style="width: 99%">
        <ul >
          <li ng-repeat="banner in banners" style="float: left"><img ng-click="goMagnifyImg(banner)"  ng-src="{{rootPicUrl + banner['Url']}}" style="width: 150px;height: 100px;border: solid 1px gainsboro;"></li>
        </ul>
      </div>
    </div>

  </ion-content>
</ion-view>
