<ion-view>
  <ion-nav-title>
    <span class="title">明星学员</span>
  </ion-nav-title>

  <ion-content style="background: #eeeeee">
    <ion-slide-box does-continue="true" auto-play="true" show-pager="true" style="margin-bottom: -5px">
      <ion-slide ng-repeat="banner in banners">
        <img ng-src="{{banner.bannerImg}}" height="150px" width="100%">

        <p class="dark " style="margin:-50px 10px 10px 10px ;font-size: 14px;">{{banner.context}}</p>
      </ion-slide>
    </ion-slide-box>

    <div class="button-bar a_image shadow" style="height: 100px;margin-bottom:15px;">
      <a class="button button-light" ng-click="intoSchOutcome()"><img src="img/logo/go1.png"/>学校成果</a>
      <a class="button button-light" ng-click="intoCourseIntr()"><img src="img/logo/go2.png"/>课程介绍</a>
      <a class="button button-light" ng-click="intoTeacherApti()"><img src="img/logo/go3.png"/>师资力量</a>
      <a class="button button-light " ng-click="goHonor()"><img src="img/logo/go4.png"/>荣誉区</a>
      <a class="button button-light" ng-click="goTeacherStyle()"><img src="img/logo/go5.png"/>教师风采</a>
    </div>


    <div class="light-bg shadow" style="height: 30px;margin: 10px 0px">
      <marquee onmouseover="stop()" onmouseout="start()" width="80%" scrollamount="5">
      <span ng-repeat="dynamic in dynamics" style="line-height: 30px;">
        <a style="text-decoration: none"
           ng-if="dynamic.id==0">学校动态:{{dynamic.title}}</a>
        <a style="text-decoration: none"
           ng-if="dynamic.id!=0">{{dynamic.title}}</a>
      </span>
      </marquee>
      <button ng-click="intoSchoolDynamic()" class="more button-clear " style="line-height: 35px; margin: -5px 0px 0;font-size: 14px">更多<i
        class="iocn ion-chevron-right"></i></button>
    </div>

      <div style="    background: white;">
        <img src="img/indexSch.png" />
      </div>
    <a  ng-click="goIntro()" class="more button-clear " style="line-height: 35px;font-size: 14px">更多
      <i class="iocn ion-chevron-right"></i></a>


    <div class="light-bg shadow" style="margin: 30px 0px 0;padding: 5px 0 5px 0;">
      <marquee onmouseover="this.stop()" onmouseout="this.start()">
        <span ng-repeat="banner in banners">
         <img ng-click="goMagnifyImg(banner.id)"  ng-src="{{banner.bannerImg}}" style="width: 30%;height: 30%;border: solid 1px gainsboro;margin: 0 5px">

        </span>
      </marquee>
    </div>

  </ion-content>
</ion-view>
