<ion-view view-title="校园快讯" >
  <ion-content>
    <div>
      <p style="text-align: justify">在著名男高音歌唱家张天甫、著名舞蹈家罗迪强、著名钢琴教育家高乐平和资深金牌教师姚艳等名师的主导下，
        集合了国内外知名专家教授、海外归国人才，和一批高水平的优秀青年教师团队，培养了大量高素质高品位的艺术人才，
        并在海外全国及省、市各类艺术比赛中多次获奖，为专业艺术院校输送了众多艺术人才。
        雄厚的师资团队、完善的教学设施，高端的办学质量，在业内脱颖而出，获得社会各界的广泛关注及高度评价。</p>
      <hr>
      <ul class="list">
        <li class="item item-thumbnail-left">
          <img src="img/g-1.jpg">
          <h2>张天甫</h2>
          <p>著名男高音歌唱家</p>
        </li>

        <li class="item item-thumbnail-left">
          <img src="img/g-12.jpg">
          <h2>王小二</h2>
          <p>著名男高音歌唱家</p>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
