<ion-view>
  <ion-nav-buttons>
    <button class="button button-icon icon ion-ios-arrow-back" ui-sref="tabs.home"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span class="title">师资力量</span>
  </ion-nav-title>
  <ion-content>
    <ion-lise>
      <p style="padding: 18px 10px;text-indent: 2em;line-height: 1.5em;text-align: justify">{{tearcherApti.FacultyIntro}}</p>
      <ion-item ng-repeat="teacher in tearcherApti.FacultyListRef">
        <img style="padding:10px 10px; ;height: 85px;width: 85px" src="{{rootPicUrl}}{{teacher.TeacherAvatarRef.Url}}" />
        <ion-content style="padding: 20px 85px;">
          <p >{{teacher.TeacherName}}</p>
          <p style="font-size: 14px">{{teacher.TeacherIntro}}</p>
        </ion-content>
      </ion-item>

    </ion-lise>

  </ion-content>
</ion-view>
