<style>
  a{
    text-decoration: none;
    color: #111111;
  }
</style>
<ion-view>
  <ion-nav-title>
    <span class="title">课程介绍</span>
  </ion-nav-title>
  <ion-nav-buttons >
    <button class="button button-icon icon ion-ios-arrow-back" ui-sref="tabs.home"></button>
  </ion-nav-buttons>
  <ion-content>


    <div class="list">
      <div>
        <div  class="has-header" ng-repeat="course in courses">
          <div class="button-course"> {{course.courseKind}}</div>
          <div class="row" style="    margin: -90px 0 0 80px;">
            <div ng-repeat="detail in course.courseDetail" ng-if="detail._id <= 2">
              <a class="button-courselist" href="#/course-introduce/{{course.id}}{{detail._id}}">{{detail.name}}</a>
            </div>
          </div>
          <div class="row" style="margin: -5px 0 0 80px;">
            <div  ng-repeat="detail in course.courseDetail" ng-if="detail._id> 2">
              <a class="button-courselist"  href="#/course-introduce/{{course.id}}{{detail._id}}">{{detail.name}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
