<ion-view>
  <ion-nav-buttons>
    <button class="button button-icon light ion-ios-arrow-back" ui-sref="tabs.home"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span class="title">师资力量</span>
  </ion-nav-title>
  <ion-content style="background: #eeeeee">

      <div style="background: white;margin: 0 0 10px 0;">
        <p class="faculty">{{tearcherApti.FacultyIntro}}</p>
      </div>
      <div ng-repeat="teacher in tearcherApti.FacultyListRef">
        <ion-item>
          <img style="padding:10px 10px; ;height: 85px;width: 85px;float: left" src="{{rootPicUrl}}{{teacher.TeacherAvatarRef.Url}}" />
          <div style="margin: 15px 0 0px 0px;">
            <h3 >{{teacher.TeacherName}}</h3>
            <p style="font-size: 14px">{{teacher.TeacherIntro}}</p>
          </div>
        </ion-item>
      </div>



  </ion-content>
</ion-view>
