
<ion-view>
  <ion-nav-title>
    <span class="title">学校动态</span>
  </ion-nav-title>
  <ion-nav-buttons>
    <button class="button button-icon light ion-ios-arrow-back" ui-sref="tabs.home"></button>
  </ion-nav-buttons>
    <ion-content>
      <ion-slide-box does-continue="true" auto-play="true" show-pager="true">
        <ion-slide ng-repeat="pic in images track by $index">
          <img ng-src="{{pic}}" height="160px" width="100%">
        </ion-slide>
      </ion-slide-box>
      <div class="list">
      <ion-item style="padding-left: 10px;padding-top: 10px"
                ng-repeat="dynamic in schoolDynamics"
                ng-click="goDetail(dynamic)">

        <h3 style="color: #f96a9f">{{dynamic['Title']}}</h3>
        <p style="color: #080808">{{dynamic['Content'] |ifContentMore}}</p><br>
        <h6 style="float: right;margin: -5px 5px 10px 0px;">{{dynamic['IssueTime'] | date:'yyyy-MM-dd'}}</h6>

      </ion-item>
      </div>
    </ion-content>
</ion-view>
