<ion-view>
  <ion-nav-title>
    <span class="title">
      校园成果
    </span>
  </ion-nav-title>

  <ion-nav-buttons >
    <button class="button button-icon icon ion-ios-arrow-back" ui-sref="tabs.home"></button>
  </ion-nav-buttons>

  <ion-content>

    <div class="ionic-pseudo">
      <div class="list">
        <a class="item item-thumbnail-left" ng-repeat="outcome in schOutcomes" ng-click="goDetailOutcome(outcome)">
          <div class="item-thumbnail-left">
          <img ng-src="{{outcome.img}}">
          <p style="margin: 10px 5px 0 0px;">{{outcome['Title']}}</p>
           <p style="float: right;margin: 18px 5px 0 0px;text-align: justify;">{{outcome['Content'] | date : 'yyyy-MM-dd'}}</p>

          </div>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
