<ion-view>
  <ion-nav-title>
    <span class="title">论文详情</span>
  </ion-nav-title>
  <ion-content >
    <h4 style="text-align: center">{{thesis.title}}</h4>
    <span>
      <div>
        <p style="    float: left; margin:0px 5% 0px 10px;"> 类型:学术论文</p>
        <p style="    float: left; margin:0px 5% 0px 10px;">作者:{{teacher['TeacherName']}}</p>
        <p>{{paper['Time'] |date:'yyyy-MM-dd'}}</p>
      </div>

    <div>
      <a style="margin: 0 7% 0px 25px;"><i style=" margin: 0 5px -16px 0px;font-size: 30px;color: #5D97F9;" class="ion-android-contacts"></i>{{paper['ReplyList'].length}}</a>
      <a style="margin: 0 12% 0px 25px;"><i style=" margin: 0 5px -16px 0px;font-size: 30px;color: #44c6fb;" class="ion-thumbsup" ></i>{{paper['LinkListRef'].length}}</a>
      <a ><i style=" margin: 0 5px -16px 0px;font-size: 30px;color: #f48b46;" class="ion-android-share-alt"></i>{{paper['ShareCount']}}</a>
    </div>
    </span>

    <div style="margin:10px 10px 0px 10px;text-align: justify;text-indent: 2em;">
      {{paper['Content']}}
    </div>

  </ion-content>
  <div class="bar bar-footer row">
    <a ng-click="likeCont()" class="button button-pink "  style=" border-radius: 20px;line-height: 29px;height: 29px;    min-width: 130px;margin:0 20px;">
      <i class="ion-thumbsup" style="font-size: 25px;"></i></a>
    <a href="" class="button button-pink "  style=" border-radius: 20px;line-height: 29px;height: 29px;    min-width: 130px;margin:0 20px;">
      <i class="ion-android-share-alt" style="font-size: 25px;"></i>
    </a>
  </div>
</ion-view>
