<ion-view>
  <ion-nav-title>
    <span class="title">日志详情</span>
  </ion-nav-title>

  <ion-content >

    <h5 style="text-align: center">{{tearchingLog['Title']}}</h5>
    <span>
     <div class="row" style="color:#69717d ">
       <a class="col"> 类型:教学日志</a>
       <a class="col">作者:{{teacher['TeacherName']}}</a>
       <a class="col">时间：{{tearchingLog['Time'] |date:'yyyy-MM-dd'}}</a>
     </div>





       <div>
         <a style="margin: 0 7% 0px 25px;"><i style=" margin: 0 5px -16px 0px;font-size: 30px;color: #5D97F9;" class="ion-android-contacts"></i>{{tearchingLog['ReplyList'].length}}</a>
         <a style="margin: 0 12% 0px 25px;"><i style=" margin: 0 5px -16px 0px;font-size: 30px;color: #44c6fb;" class="ion-thumbsup" ></i>{{tearchingLog['LikeListRef'].length}}</a>
         <a ><i style=" margin: 0 5px -16px 0px;font-size: 30px;color: #f48b46;" class="ion-android-share-alt"></i>{{tearchingLog['ShareCount']}}</a>
       </div>
      <a  ng-repeat="image in tearchingLog['PicListRef'] track  by $index">
         <img ng-src="{{rootPicUrl + image['Url']}}" style="width: 420px;height: 320px">
       </a>

    </span>

    <div style="margin:10px 10px 0px 10px;text-align: justify;text-indent: 2em;">
      {{tearchingLog['Content']}}
    </div>
  </ion-content>
  <div class="bar bar-footer row">
    <a ng-click="linkClick()" style="border-radius: 20px;line-height: 29px;height: 29px;min-width: 130px;margin:0 20px;" class="button button-pink wordD" ><i class="ion-thumbsup" style="font-size: 25px;"></i></a>
    <a ng-click="shareWeChat()" style="border-radius: 20px;line-height: 29px;height: 29px;min-width: 130px;margin:0 20px;" class="button button-pink wordD" ><i class="ion-android-share-alt" style="font-size: 25px;"></i></a>

  </div>
</ion-view>

