<ion-view>
  <ion-nav-title>
    <span class="title">日志详情</span>
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-arrow-back" ui-sref="tabs.home"></button>
  </ion-nav-buttons>
  <ion-content>
  <h5 style="text-align: center">{{teacherLog.title}}</h5>
    <span>
      <p> 类型:{{teacherLog.type}}</p>
      <div class="row">
       <a class="col col-25">送花：{{teacherLog.flower}}</a>
       <a class="col col-25">点赞：{{teacherLog.praise}}</a>
       <a class="col col-25">分享：{{teacherLog.share}}</a>
      </div>
    </span>
    <span>
      <p>作者:{{teacher.name}}</p>
      <p>{{teacherLog.time |date:'yyyy-MM-dd'}}</p>
    </span>
    <div>
      {{teacherLog.content}}
    </div>

  </ion-content>
  <div class="bar bar-footer row">
    <a href="" class="col col-50 button">点赞</a>
    <a href="" class="col col-50 button">送花</a>
    </a>
  </div>
</ion-view>

