<ion-view>
  <ion-nav-title>
    <span class="title">教师评语</span>
  </ion-nav-title>
  <ion-nav-buttons >
    <button class="button light button-icon icon ion-ios-arrow-back" ui-sref="tabs.person_stu"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button light button-icon icon ion-android-funnel" ></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <a class="item" ng-repeat="comment in comments" ng-click="myApplyDeatil(comment.id)">
        <div class="item-thumbnail-left">
          <img ng-src={{comment['TeacherAvatarRef']['Url']}} style="border-radius:100px">

            <h2 style="    margin: 10px 0px 0;">{{comment['TeacherRef']['Name']}}</h2>
            <p style="margin: -20px 25% 0;">{{comment['TeacherRef']['ProfessionName']}}</p>
            <h5>{{comment['Time'] |date:'yyyy-MM-dd'}}</h5>
            <p style="">{{comment['Content']}}</p>


        </div>
      </a>
    </div>

  </ion-content>
</ion-view>
