<style>
  #logLogo1{border: solid white 2px;width:120px;height:120px;border-radius:120px;margin: 30px 0px 0px 31%;}
</style>
<ion-view>
  <ion-nav-title>
    <span class="title">登录</span>
  </ion-nav-title>
  <ion-content class="has-header" style="background-image:url(img/loginbk.jpg);background-attachment:fixed;
  background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;">


    <div class="loginbk" ng-repeat="loginbk in loginbks">
      <div id="logLogo1">
        <img src="{{loginbk.img}}" class="mebk">
      </div>
    </div>

    <div style="margin: 4% 0 0 0;position:absolute;width: 97%;">
      <div class="logininput">
        <i class="ion-ios-person-outline" style="font-size: 30px;color:white;padding: 0px 13px 0;"></i>
        <input type="text" class="loginaccount " placeholder="请输入账号" name="username" ng-model="user.num " >
      </div>
      <div class="logininput">
        <i class="ion-ios-locked-outline" style="font-size: 30px;color:white;    padding: 0px 13px 0;"></i>
        <input type="password" class="loginaccount " placeholder="请输入密码" name="password" ng-model="user.pwd " >
      </div>
    </div>


      <span >
        <a class="button button-pink login"  ng-click="login()">登录</a>
        <a class="button  button-pink register"  ng-click="register()">注册</a>
      </span>


<!--<<<<<<< HEAD-->
    <!--<div style="margin: -195px 0 0 0;position:absolute;">-->
      <!--<ion-checkbox ng-repeat="remember in remembers" class="rem" style="margin: 0px 0 0 15%; width: 120px; ">-->
        <!--<span style="margin: 0 0 0 40%;position:absolute">{{remember.label}}</span>-->
      <!--</ion-checkbox>-->
    <!--</div>-->
    <!--<p style="margin: -190px 9% 0 0;float: right"  ng-click="Forgotpw()" class="loginforget" >忘记密码</p>-->
<!--=======-->

  <div style="margin: -195px 0 0 0;position:absolute;">
    <ion-checkbox  class="rem" style="margin: 0px 0 0 15%; width: 120px; " ng-model="remembers.checked"  ng-checked="remembers.checked">
      <span ng-click="clickRemember(remembers.checked)" style="margin: 0 0 0 40%;position:absolute" >{{remembers.text}}</span>
    </ion-checkbox>
  </div>

      <p  style="margin: -190px 9% 0 0;float: right"   ng-click="Forgotpw()" class="loginforget" >忘记密码</p>



  </ion-content>
</ion-view>
