<ion-view>
  <ion-nav-title>
    <span class="title">登录</span>
  </ion-nav-title>
  <ion-content class="has-header" style="background-image:url(img/loginbk.jpg);background-attachment:fixed;
  background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;">


    <div class="loginbk" ng-repeat="loginbk in loginbks">
      <div style="border: solid white 2px;width:120px;height:120px;border-radius:120px;margin: 10% 32%">
        <img src="{{loginbk.img}}" class="mebk">
      </div>
    </div>

    <div class="logininput">
      <i class="ion-ios-person-outline" style="font-size: 30px;color:white;    padding: 0px 13px 0;"></i>
      <input type="text" class="loginaccount " placeholder="请输入账号" ng-model="user.num " >
    </div>
    <div class="logininput">
      <i class="ion-ios-locked-outline" style="font-size: 30px;color:white;    padding: 0px 13px 0;"></i>
      <input type="password" class="loginaccount " placeholder="请输入密码" ng-model="user.pwd " >
    </div>



      <div >
        <a class="button button-pink login"  ng-click="login()">登录</a>
        <a class="button  button-pink register"  ng-click="register()">注册</a>
      </div>

    <ion-checkbox ng-repeat="remember in remembers" class="rem" style="margin: 10px 0 0 0; width: 120px; ">
      <span style="margin: 0 0 0 40%">{{remember.label}}</span>
    </ion-checkbox>
      <a  style="float: right"  ng-click="Forgotpw()" class="loginforget" >忘记密码</a>


  </ion-content>
</ion-view>
