<ion-view view-title="登录">
  <ion-content class="has-header" style="background-image:url(img/loginbk.jpg);background-repeat: no-repeat;height: 100%;width:100%">


    <div class="loginbk" ng-repeat="loginbk in loginbks">
      <div style="border: solid white 2px;width:120px;height:120px;border-radius:120px;margin: 10% 32%">
        <img src="{{loginbk.img}}" class="mebk">
      </div>
    </div>

    <div class="logininput">
      <i class="ion-ios-person-outline" style="font-size: 30px;color:white;    padding: 0px 13px 0;"></i>
      <input type="text" class="loginaccount " placeholder="请输入账号" ng-model="user.num " >
    </div>
    <div class="logininput">
      <i class="ion-ios-locked-outline" style="font-size: 30px;color:white;    padding: 0px 13px 0;"></i>
      <input type="password" class="loginaccount " placeholder="请输入密码" ng-model="user.pwd " >
    </div>

    <div class="logininput item-select">
      <div class="input-label fill" style="color: white;padding-left: 8%">
        身份
      </div>
      <select ng-model="user.type" style="font-size: 18px;font-weight:500">
        <option selected="">教师</option>
        <option>学生</option>
      </select>
    </div>

      <div >
        <a class="button button-pink login"  ng-click="login()">登录</a>
        <a class="button  button-pink register"  ng-click="register()">注册</a>
      </div>

      <a  style="float: right"  ng-click="Forgotpw()" class="loginforget">忘记密码</a>


  </ion-content>
</ion-view>
