<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-pink">

  <!-- 学校简历选项卡 -->
  <ion-tab title="学校简历" icon-off="ion-android-list" icon-on="ion-android-list" href="#/tabs/school-index">
    <ion-nav-view name="tabs-home"></ion-nav-view>
  </ion-tab>

<!--动态圈选项卡-->

  <ion-tab title="动态圈" icon-off="ion-ios-eye-outline" icon-on="ion-ios-eye" href="#/tabs/dynamics">
    <ion-nav-view name="dynamic"></ion-nav-view>
  </ion-tab>



  <!--报名选项卡 -->
  <ion-tab title="报名" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tabs/apply">
    <ion-nav-view name="apply"></ion-nav-view>
  </ion-tab>

  <!-- 个人中心选项卡 -->
  <ion-tab title="个人中心" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tabs/person{{type}}">
    <ion-nav-view name="person"></ion-nav-view>
  </ion-tab>


</ion-tabs>
