<ion-view view-title="考核详情">

  <ion-content>
    <div >
      <img src="img/stuperson/tit1.png" class="tit1">
      <div class="checkDet ">

        <p>科目名称：{{checkdetails.coursetitle}}</p>
        <p>综合成绩：{{checkdetails.synscore}}</p>
      </div>
      <div style="margin: 0 40px 0;">
        <p>语音基础：<p class="checkscose">{{checkdetails.Speechbase}}</p></p>
        <p>朗诵技巧：<p class="checkscose">{{checkdetails.Readskills}}</p></p>
        <p>礼仪：<p class="checkscose">{{checkdetails.etiquette}}</p></p>
        <p>情感表达：<p class="checkscose">{{checkdetails.feelings}}</p></p>
        <p>舞台展现能力：<p class="checkscose">{{checkdetails.stageshow}}</p></p>
        <p>表演技巧：<p class="checkscose">{{checkdetails.performskills}}</p></p>
      </div>
      <hr style="border: solid 1px gainsboro;opacity: 0.3">
      <div>
        <img src="img/stuperson/tit1.png" class="tit1">
        <p class="cheComments">评语：{{checkdetails.comments}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
