<ion-view view-title="考核详情">

  <ion-content>
    <div>
      <div class="checkDet">
        <h5>科目名称：{{checkdetails.coursetitle}}</h5>
        <h5>综合成绩：{{checkdetails.synscore}}</h5>
      </div>
      <div style="margin: 0 40px 0;">
        <p>语音基础：<p class="checkscose">{{checkdetails.Speechbase}}</p></p>
        <p>朗诵技巧：<p class="checkscose">{{checkdetails.Readskills}}</p></p>
        <p>礼仪：<p class="checkscose">{{checkdetails.etiquette}}</p></p>
        <p>情感表达：<p class="checkscose">{{checkdetails.feelings}}</p></p>
        <p>舞台展现能力：<p class="checkscose">{{checkdetails.stageshow}}</p></p>
        <p>表演技巧：<p class="checkscose">{{checkdetails.performskills}}</p></p>
      </div>
      <hr>
      <div>
        <p class="cheComments">评语：{{checkdetails.comments}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
