<ion-view view-title="学习情况">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-arrow-back" ui-sref="tabs.stuPerson"></button>
  </ion-nav-buttons>
  <ion-content>

    <div class="list" >
      <ion-item class=" learn item-icon-right" ng-repeat="learn in learns" ng-click="goApplyDeatil(learn.id)" >
        <div >
          舞蹈科目：{{learn.subjectsname}}<div style="margin: -20px 51% 0;">综合成绩：{{learn.score}}</div>
        </div>

        <div>考核老师：{{learn.assessmentName}}<div style="margin: -20px 51% 0;">考核时间：{{learn.asTime |date:'yyyy-MM-dd'}}</div></div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
