<ion-view>
  <ion-nav-title>
    <span class="title">教师风采</span>
  </ion-nav-title>
  <ion-content class="list">
    <div class="item-avatar">

      <img ng-src="{{teacher.headImg}}">
      <p>{{teacher.Detail}}</p>
    </div>

    <ion-item>
    <span ng-repeat="img in teacher.imgs">
      <img ng-src="{{img.img}}" style="width: 30%;height: 30%">
    </span><br>
      <span>
        <button ng-click="clickLike()" style="float: left">点赞</button>
        <p style="float: left">{{like}}</p>
      </span>
        <button style="float: right">更多>></button>

    </ion-item>

    <ion-item ng-repeat="reward in teacher.honor">
      <h5>{{reward.reward}}</h5>
      <p>{{reward.rewardDetail}}</p>
      <p>{{reward.time | date: 'yyyy-MM-dd'}}</p>
    </ion-item>

  </ion-content>

    <div class="bar bar-footer">

      <button class="button button-clear" style="font-size: 12px" ng-click="goTeachinglog()">教学日志</button>
      <button class="button">点赞</button>
      <button class="button">送花</button>
      <button class="button button-clear">学术论文</button>
    </div>
</ion-view>
