<ion-view>
  <ion-nav-title>
    <span class="title">教师圈</span>
  </ion-nav-title>
  <ion-content>
  <div class="ionic-pseudo">
    <div class="list">
      <div class="item" ng-repeat="teacher in teachers" >
        <div class="item-avatar">
        <img ng-src="{{teacher.headImg}}">
        <h5>{{teacher.name}}</h5>
        <p>{{teacher.longevity}}</p>
        <div class="button-bar">
        <a class="button" href="#/tabs{{type}}/teacher-tabs/teacher-chat/personal-style{{teacher.id}}">个人风采</a>
        <a class="button" ng-click="goPersonal(teacher.id)">作品中心</a>
        </div>
      </div>
      </div>

    </div>
  </div>
  </ion-content>
</ion-view>
