<ion-view hide-back-button="true">
  <ion-nav-title>
    <span class="title">明星学员</span>
  </ion-nav-title>
  <ion-nav-buttons>
    <button class="button light button-icon icon ion-ios-arrow-back" ui-sref="tabs.home"></button>
  </ion-nav-buttons>

  <!--<ion-nav-buttons side="right">-->
    <!--<button class="button button-icon icon ion-ios-search-strong" ui-sref="tabs.home"></button>-->
  <!--</ion-nav-buttons>-->
  <ion-content style="background-color: #f1f1f1">

    <div class="bar-subheader" style="margin: 6px;text-align: center">
      <a class="button" ng-click="showChat()" id="chatClick" style="width: 115px;border-radius: 10px;">教师圈</a>
      <a class="button" ng-click="showCharm()" id="charmClick" style="width: 115px;border-radius: 10px;">魅力教师榜</a>
    </div>

    <!--教师圈-->
    <div id="chat" class="list">
      <div class="item" ng-repeat="teacher in teachers" >
        <div class="item-avatar">
          <img ng-src="{{teacher['TeacherAvatarRef']['Url']}}">
          <h4 style="    margin: 18px 0px 0px 0;">{{teacher['TeacherName']}}</h4>
          <p style="text-align: justify;text-indent: 2em;margin: 5px 10px 0px 0px;">{{teacher['Content']}}</p>

          <div style=" margin: 10px 10px;float: right">
            <a class="teaMine button"  ng-click="goPersonalMine(teacher)">个人风采</a>
            <a class="teaMine button" ng-click="goWorks(teacher)">作品中心</a>
          </div>
        </div>
      </div>
    </div>

    <!--魅力教师榜-->
    <div id="charm" class="list" style="display: none">

      <div class="item item-avatar" ng-repeat="teacher in teachers | orderBy:'__v'">
        <div class="item-avatar">

          <img ng-src="{{teacher['TeacherAvatarRef']['Url']}}">
          <h4 style=" margin: 18px 0px 0px 0;">{{teacher['TeacherName']}}</h4>
          <p style="    text-indent: 2em;text-align: justify;margin: 5px 10px 0px 0px;">{{teacher['Content']}}</p>
          <div  style=" margin: 10px 10px;float: right">
            <a class="teaMine button"  ng-click="goPersonalMine(teacher)">个人风采</a>
            <a class="teaMine button" ng-click="goWorks(teacher)">作品中心</a>

          </div>
        </div>
      </div>
    </div>


  </ion-content>

</ion-view>
