<ion-view>
  <ion-nav-title>
    <span class="title">日志详情</span>
  </ion-nav-title>

  <ion-content>
    <h5 style="text-align: center">{{log['Title']}}</h5>
    <span>
     <div>
       <p style=" float: left; margin:0px 5% 0px 10px;"> 类型:教学日志</p>
       <p style=" float: left;margin:0px 5% 0px 10px;">作者:{{teacher.name}}</p>
       <p>{{log['Time']|date:'yyyy-MM-dd'}}</p>
     </div>
      <div style=" ">
        <a style="margin: 0 7% 0px 25px;"><i style=" margin: 0 5px -16px 0px;font-size: 30px;color: #5D97F9;" class="ion-android-contacts"></i>{{log['ReplyList'].length}}</a>
        <a style="margin: 0 12% 0px 25px;"><i style=" margin: 0 5px -16px 0px;font-size: 30px;color: #44c6fb;" class="ion-thumbsup" ></i>{{log['LinkCount']}}</a>
        <a ><i style=" margin: 0 5px -16px 0px;font-size: 30px;color: #f48b46;" class="ion-android-share-alt"></i>{{log['ShareCount']}}</a>
      </div>
    </span>

    <div style="margin:10px 10px 0px 10px;text-align: justify;">
      {{log['Content']}}
    </div>

  </ion-content>
  <div class="bar bar-footer row">
    <a href="" class="button button-pink "  style=" border-radius: 20px;line-height: 29px;height: 29px;    min-width: 130px;">点赞</a>
    <a href="" class="button button-pink "  style=" border-radius: 20px;line-height: 29px;height: 29px;    min-width: 130px;">送花</a>
  </div>
</ion-view>

