<ion-view hide-back-button="true">
  <ion-nav-buttons side="right">
    <button class="button light button-icon icon ion-ios-camera-outline" ng-click="goAddImg()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span class="title">
      个人风采
    </span>
  </ion-nav-title>
  <ion-nav-buttons >
    <button class="button light button-icon icon ion-ios-arrow-back" ui-sref="tabs.person_teacher"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item style="    border: none;">
       <span ng-repeat="imgDetail in StyleItemList">
         <p style="    margin: 5px 10px;">{{imgDetail['Time'] |date:'yyyy-MM-dd'}}</p>
         <span ng-repeat="img in imgDetail['PicListRef']">
           <img  ng-src="{{img['Url']}}" style="height: 30%;width: 30%;    margin: 0px 0px 0px 5px;">
         </span>
         <hr style="border: 1px solid; color: #ddd;">
      </span>

    </ion-list>

  </ion-content>
</ion-view>
