<ion-view>
  <ion-nav-title>
    <span class="title">作品中心</span>
  </ion-nav-title>
  <ion-nav-buttons>
    <button class=" button-icon  ion-ios-arrow-back" ui-sref="tabs.person_teacher"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class=" button-icon  ion-ios-paperplane-outline" ng-click="openModel_start()" ></button>
  </ion-nav-buttons>

  <ion-content style="background-color: #f1f1f1">
    <div class="bar-subheader" style="margin: 6px;text-align: center">
      <a class="button" ng-click="showLog()" id="logClick">教学日志({{teacher.length}})</a>
      <a class="button" ng-click="showPaper()" id="paperClick">学术论文({{teacher.length}})</a>
    </div>

    <div id="log" class="list">
      <ion-item ng-repeat="tearLog in logs">
        <p style="margin: 10px 0 0 10px;">
          {{tearLog['Title']}}
        </p>
        <p style=" padding: 0 10px; text-align: justify;">{{tearLog['Content']}}</p>

        <br>
      <span>
      <a style="float: left;margin: 0 0 0 10px;color: #b2b2b2;">{{tearLog['Time'] | date:'yyyy-MM-dd'}}</a>
      <a class="button rightbtom" ng-click="goLogsDetail(tearLog)" style="float: right;line-height: 25px;margin: 0px 10px 5px 0px;">>>详情</a>
      </span>
      </ion-item>

    </div>

    <div id="paper" class="list" style="display: none">
      <ion-item ng-repeat="tearingPage in teacher">
        <p style="margin: 10px 0 0 10px;">
          {{tearingPage.title}}
        </p>
        <p style=" padding: 0 10px; text-align: justify;">{{tearingPage.content}}</p>

      <span>
      <p style="float: left;margin: 0 0 0 10px;color: #b2b2b2;">{{tearingPage.time | date:'yyyy-MM-dd'}}</p>
      <a class="button rightbtom" ng-click="goPaperDetail($index)" style="float: right;line-height: 25px;margin: 0px 10px 5px 0px;">>>详情</a>
      </span>
      </ion-item>
    </div>


  </ion-content>

</ion-view>
