<div class="modal">
  <ion-header-bar class="" style="background-color: transparent">
    <h1 class="title">新增文章</h1>
    <button class="button button-positive" style="color:white;" ng-click="close()">关闭</button>
  </ion-header-bar>
  <ion-content has-header="true">


      <span style="text-align: center">
      文章类型
      <select ng-model="articleType">
      <option selected>教学日志</option>
      <option>学术论文</option>
      </select>
      </span>

      <textarea ng-model="articleContent" style="width: 90%"></textarea>


    <div class="item item-stacked-label">
      <span class="input-label "><strong>上传图片:</strong></span>
      <ion-scroll direction="x">
        <img style="width: 34%;height: 34%" ng-repeat="image in photos" ng-src="{{$root.imageUrl+image}}"
             ng-click="clickPhoto($index)" class="image-list-thumb"/>
      </ion-scroll>
    </div>




    <div class="padding">
      <button class="button button-full" style="opacity: 0.8" ng-click="onSubmit(articleType,articleContent)">确定提交</button>
    </div>

  </ion-content>

</div>
