<ion-view>
  <ion-nav-title>
    <span class="title">学习园</span>
  </ion-nav-title>
  <ion-nav-buttons>
    <button class="button light button-icon icon ion-ios-arrow-back" ui-sref="tabs.person_stu"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right " >
    <button class="button light button-icon icon ion-paper-airplane " ng-click="goAddGarden()"></button>
  </ion-nav-buttons >
  <ion-content style="background-color: #f1f1f1">
    <div >
      <img src="img/learn-garder/img2.png" style="width: 100%;height: 126px"/>
      <h5 style="color: white;margin: -40px 10px 0px;font-size: 15px">计算机Java基础教学视频</h5>
    </div>

    <div id="student" class="list" style="padding: 15px 0px;">
      <ion-item class="item-avatar card" ng-repeat="leagarden in  leagardens |orderBy :'-Time'">
        <div class="item-avatar">
          <img src="{{rootPicUrl}}{{leagarden.IssuerAvatarRef.Url}}" style="border-radius: 40px">
          <h4 style="    margin: 15px 0px 5px 0px;">{{leagarden['IssuerName']}}</h4>
          <p>{{leagarden.Time | date : 'yyyy-MM-dd'}}</p>

          <div ng-if="leagarden.Content.length >=36">
            <div id="{{leagarden._id+'contentLea'}}"> {{leagarden.content |ifMore}}</div>
            <div id="{{leagarden._id+'moreContentLea'}}" style="display: none"> {{leagarden.content}}</div>

            <div>
              <a ng-click="showleagarden(leagarden._id)">更多</a>
            </div>
          </div>

          <div ng-if="leagarden.Content.length <36">
            <p> {{leagarden.Content}}</p>
          </div>

          <div ng-if="leagarden['IssuerAvatarRef']['Url'] != ''">
            <a ng-repeat="img in leagarden['PicListRef']">
              <img width="80px" height="80px" ng-src="{{rootPicUrl+img['Url']}}"/>
            </a><br>
            <a href="{{leagarden.LinkUrl}}" ng-if="leagarden.LinkUrl.length>11">个人分享链接{{leagarden['LinkUrl']}}</a>
          </div>

        </div>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
