<ion-view view-title="学习园">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-arrow-back" ui-sref="tabs.person_stu"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-slide-box  does-continue="true" auto-play="true" show-pager="true">
      <ion-slide ng-repeat="banner in banners">
        <img ng-src="{{banner.bannerImg}}" height="80px" width="100%">
        <h4>{{banner.context}}</h4>
        <hr>
      </ion-slide>

    </ion-slide-box>
  </ion-content>
</ion-view>
