<ion-view>
  <ion-nav-title>
    <span class="title">我要发布</span>
  </ion-nav-title>

  <ion-content style="background-color: #f1f1f1">
    <div style="background: white;">
      <div style="padding: 5px 10px;">
        <textarea  placeholder="说点什么……" style="width: 100%;    height: 100px;" ></textarea>
      </div>
    </div>

    <div class="item item-stacked-label" style="    background: white;">
      <p style="margin: 10px 10px"><strong>上传图片:</strong></p>
      <ion-scroll direction="x">
        <img  ng-repeat="image in photos" ng-src="{{$root.imageUrl+image}}"
             ng-click="clickImg($index)" class="image-list-thumb" style="height: 84px;width: 70px;border: solid #c6c6c6 1px; margin: 5px 10px;"/>
      </ion-scroll>
    </div>

     <div style="    margin: 10px 0px 0px 15px;">
       <p>视频链接上传：</p>
       <input type="text" class="perpost " placeholder="输入网址" ng-model="addUrl"style="     padding: 0px 5px;   border: 1px red solid;" >
     </div>


    <div class="padding">

      <button class="button button-full button-pink " style="border-radius: 10px" ng-click="closeEditModal(articleType,articleContent)">确定提交</button>

    </div>

  </ion-content>
</ion-view>
