<ion-view hide-back-button="true">
  <ion-nav-title>
    <span class="title">明星秀</span>
  </ion-nav-title>
  <ion-nav-buttons>
    <button class="button button-icon light ion-ios-arrow-back" ui-sref="tabs.home"></button>
  </ion-nav-buttons>
  <ion-content style="background-color: #f1f1f1">
    <div class="bar-subheader" style="text-align: center;    margin: 10px 0px 9px 0px;">
      <a class="button" ng-click="showStar()" id="starClick" style="width: 115px;border-radius: 10px;">明星榜</a>
      <a class="button" ng-click="showHonor()" id="honorClick" style="width: 115px;border-radius: 10px;">荣誉墙</a>
    </div>

    <div id="star" class="list">
      <a class="item " ng-repeat="star in starList" style="padding: 10px 0px;">
        <div class="item-avatar">
          <img ng-src="{{rootPicUrl + star['UserAvatarRef']['Url']}}">
          <p>{{star['UserName']}}</p>
          <p>获奖情况：{{star['Description']}}</p>
        </div>
      </a>
    </div>

    <div id="honor" class="list" style="display: none">
      <a class="item" ng-repeat="honorMan in honorWall"style="padding: 10px 0px;">
        <div class="item-avatar">
          <img ng-src="{{rootPicUrl + honorMan['UserAvatarRef']['Url']}}">
          <p>{{honorMan['UserName']}}</p>
          <p>{{honorMan['Description']}}</p>
        </div>
      </a>
    </div>


  </ion-content>

</ion-view>
