<ion-view>
  <ion-nav-title>
    <span class="title">明星学员</span>
  </ion-nav-title>

  <ion-content  style="background-color: #f1f1f1">

    <div class="bar-subheader text-center" style="padding: 6px">
      <a class="button" ng-click="showSchoolDynamic()">校园动态</a>
      <a class="button" ng-click="showStudentDynamic()">学员动态</a>
      <a class="button" ng-click="showTeacherDynamic()">教师动态</a>
    </div>

    <div id="school" class="list" style="display: none;padding: 15px 0px;">

      <ion-item class="item-avatar card"  ng-repeat="shcoolDynamic in schoolDynamics">

        <div class="item-avatar">

        <img ng-src="{{shcoolDynamic.img}}">
           <h4 style="    margin: 15px 0px 5px 0px;">{{shcoolDynamic.schoolName}}</h4>
          <p >{{shcoolDynamic.time | date : 'yyyy-MM-dd'}}</p>
        <div ng-if="shcoolDynamic.content.length >=36">

          <div id="{{shcoolDynamic.id+'contentSchool'}}"> {{shcoolDynamic.content |ifMore}}</div>
          <div id="{{shcoolDynamic.id+'moreContentSchool'}}" style="display: none"> {{shcoolDynamic.content}}</div>

          <div>
          <a ng-click="showContentSchool(shcoolDynamic.id)" >更多</a>
          </div>

        </div>

        <div ng-if="shcoolDynamic.content.length <36">
          <p> {{shcoolDynamic.content}}</p>
        </div>

        </div>


        <div class="comments" >
           <span id="{{shcoolDynamic.id+'school'}}" style="display: none;    padding: 0px 10px 0px;">
               <a class="button buttonDy" ng-click="">点赞</a>
               <a class="button buttonDy" ng-click="">分享</a>
           </span>
               <i class="ion-chatbox-working" ng-click="showClickSchool(shcoolDynamic.id)"></i>
        </div>

      </ion-item>

    </div>



    <div id="student" class="list" style="padding: 15px 0px;">
      <ion-item class="item-avatar card" ng-repeat="stuDynamic in  stuDynamics">
        <div class="item-avatar">
          <img src="{{stuDynamic.img}}" style="border-radius: 40px">
          <h4 style="    margin: 15px 0px 5px 0px;">{{stuDynamic.name}}</h4>
          <p>{{stuDynamic.time | date : 'yyyy-MM-dd'}}</p>

          <div ng-if="stuDynamic.content.length >=36">
            <div id="{{stuDynamic.id+'contentStu'}}"> {{stuDynamic.content |ifMore}}</div>
            <div id="{{stuDynamic.id+'moreContentStu'}}" style="display: none"> {{stuDynamic.content}}</div>

            <div>
              <a ng-click="showContentStu(stuDynamic.id)">更多</a>
            </div>
          </div>

          <div ng-if="stuDynamic.content.length <36">
            <p> {{stuDynamic.content}}</p>
          </div>

        </div>
        <div class="comments" >
           <span id="{{stuDynamic.id+'stu'}}" style="display: none;    padding: 0px 10px 0px;">
          <a class=" button buttonDy" ng-click="">点赞</a>
          <a class=" button buttonDy" ng-click="">分享</a>
        </span>
          <i class="ion-chatbox-working" ng-click="showClickStudent(stuDynamic.id)"></i>
        </div>
      </ion-item>
    </div>

    <div id="teacher" class="list" style="padding: 15px 0px;display: none;">
      <ion-item class="item-avatar card" ng-repeat="terDynamic in  terDynamics">
        <div class="item-avatar">
          <img src="{{terDynamic.img}}" style="border-radius: 100px">
          <h4 style="    margin: 15px 0px 5px 0px;">{{terDynamic.name}}</h4>
          <p>{{terDynamic.time | date : 'yyyy-MM-dd'}}</p>

          <div ng-if="terDynamic.content.length >=36">
            <div id="{{terDynamic.id+'contentTer'}}"> {{terDynamic.content |ifMore}}</div>
            <div id="{{terDynamic.id+'moreContentTer'}}" style="display: none"> {{terDynamic.content}}</div>

            <div>
              <a ng-click="showContentTer(terDynamic.id)">更多</a>
            </div>
          </div>

          <div ng-if="stuDynamic.content.length <36">
            <p> {{stuDynamic.content}}</p>
          </div>

        </div>
        <div class="comments" >
           <span id="{{terDynamic.id+'teacher'}}" style="display: none;    padding: 0px 10px 0px;">
          <a class=" button buttonDy" ng-click="">点赞</a>
          <a class=" button buttonDy" ng-click="">分享</a>
        </span>
          <i class="ion-chatbox-working" ng-click="showClickTeacher(terDynamic.id)"></i>
        </div>
      </ion-item>
    </div>

    <!--<div id="teacher" class="list" style="display: none;padding: 15px 0px;">-->
      <!--<ion-item class="item-avatar card " ng-repeat="terDynamic in  terDynamics">-->
        <!--<div class="item-avatar">-->
          <!--<img src="{{terDynamic.img}}">-->
          <!--<h4 style="    margin: 15px 0px 5px 0px;">{{terDynamic.name}}</h4>-->
          <!--<p >{{terDynamic.time | date : 'yyyy-MM-dd'}}</p>-->
          <!--<div ng-if="terDynamic.content.length >=36">-->
            <!--<div id="{{terDynamic.id+'contentTer'}}"> {{terDynamic.content |ifMore}}</div>-->
            <!--<div id="{{terDynamic.id+'moreContentTer'}}" style="display: none"> {{terDynamic.content}}</div>-->
            <!--<div>-->
              <!--<a ng-click="showContentTer(terDynamic.id)" >更多</a>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div ng-if="terDynamic.content.length <36">-->
            <!--<p> {{terDynamic.content}}</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="comments">-->
          <!--<div id="{{terDynamic.id+'teacher'}}" style="display: none;    padding: 0px 10px 0px;" >-->
          <!--<a class=" button buttonDy" ng-click="">点赞</a>-->
          <!--<a class=" button buttonDy" ng-click="">分享</a>-->
          <!--</div>-->
          <!--<i class="ion-chatbox-working" ng-click="showClickTeacher(terDynamic.id)"  ></i>-->
        <!--</div>-->
        <!--</ion-item>-->
    <!--</div>-->



  </ion-content>





</ion-view>
