<ion-view>
  <ion-nav-title>
    <span class="title">明星学员</span>
  </ion-nav-title>

  <ion-content>
    <div class="bar-subheader text-center" style="padding: 6px">
      <a class="button" ng-click="showSchoolDynamic()">校园动态</a>
      <a class="button" ng-click="showStudentDynamic()">学员动态</a>
      <a class="button" ng-click="showTeacherDynamic()">教师动态</a>
    </div>

    <div id="school" class="list" style="display: none;padding: 15px 0px;">
      <ion-item class="item-avatar"  ng-repeat="shcoolDynamic in schoolDynamics">

        <div class="item-avatar">

        <img ng-src="{{shcoolDynamic.img}}">
           <h4>{{shcoolDynamic.schoolName}}</h4>

        <div ng-if="shcoolDynamic.content.length >=36">

          <div id="{{shcoolDynamic.id+'contentSchool'}}"> {{shcoolDynamic.content |ifMore}}</div>
          <div id="{{shcoolDynamic.id+'moreContentSchool'}}" style="display: none"> {{shcoolDynamic.content}}</div>

          <div>
          <a ng-click="showContentSchool(shcoolDynamic.id)" >更多</a>
          </div>

        </div>

        <div ng-if="shcoolDynamic.content.length <36">
          <p> {{shcoolDynamic.content}}</p>
        </div>
        <h6 style="float: left">{{shcoolDynamic.time | date : 'yyyy-MM-dd'}}</h6>
        </div>


        <div class="comments" >
           <span id="{{shcoolDynamic.id+'school'}}" style="display: none">
               <a class="button" ng-click="">点赞</a>
               <a class="button" ng-click="">分享</a>
           </span>
               <i class="ion-chatbox-working" ng-click="showClickSchool(shcoolDynamic.id)"></i>
        </div>

      </ion-item>
    </div>

    <div id="student" class="list" style="padding: 15px 0px;">
      <ion-item class="item" ng-repeat="stuDynamic in  stuDynamics">
        <div class="item-avatar">
          <img src="{{stuDynamic.img}}">
          <h5>{{stuDynamic.name}}</h5>


          <div ng-if="stuDynamic.content.length >=36">
            <div id="{{stuDynamic.id+'contentStu'}}"> {{stuDynamic.content |ifMore}}</div>
            <div id="{{stuDynamic.id+'moreContentStu'}}" style="display: none"> {{stuDynamic.content}}</div>

            <div>
              <a ng-click="showContentStu(stuDynamic.id)">更多</a>
            </div>
          </div>

          <div ng-if="stuDynamic.content.length <36">
            <p> {{stuDynamic.content}}</p>
          </div>
            <h6 style="float: left">{{stuDynamic.time | date : 'yyyy-MM-dd'}}</h6>

        </div>






        <div class="comments" >
           <span id="{{stuDynamic.id+'stu'}}" style="display: none">
          <a class=" button" ng-click="">点赞</a>
          <a class=" button" ng-click="">分享</a>
        </span>
          <i class="ion-chatbox-working" ng-click="showClickStudent(stuDynamic.id)"></i>
        </div>

      </ion-item>
    </div>

    <div id="teacher" class="list" style="display: none;padding: 15px 0px;">
      <ion-item class="item" ng-repeat="terDynamic in  terDynamics">
        <div class="item-avatar">
          <img src="{{terDynamic.img}}">
          <h5>{{terDynamic.name}}</h5>


          <div ng-if="terDynamic.content.length >=36">
            <div id="{{terDynamic.id+'contentTer'}}"> {{terDynamic.content |ifMore}}</div>
            <div id="{{terDynamic.id+'moreContentTer'}}" style="display: none"> {{terDynamic.content}}</div>

            <div>
              <a ng-click="showContentTer(terDynamic.id)" >更多</a>
            </div>
          </div>

          <div ng-if="terDynamic.content.length <36">
            <p> {{terDynamic.content}}</p>
          </div>
          <h6 style="float: left">{{terDynamic.time | date : 'yyyy-MM-dd'}}</h6>

        </div>


        <div class="comments">
          <span id="{{terDynamic.id+'teacher'}}" style="display: none" >
          <a class=" button" ng-click="">点赞</a>
          <a class=" button" ng-click="">分享</a>
        </span>
          <i  ng-click="showClickTeacher(terDynamic.id)" class="ion-chatbox-working" ></i>
        </div>
      </ion-item>
    </div>


  </ion-content>





</ion-view>
