<ion-view>
  <ion-nav-title class="title">
    <span class="title">学校动态</span>
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <ion-slide-box class="has-header" does-continue="true" auto-play="true" show-pager="true">
        <ion-slide ng-repeat="banner in banners">
          <img ng-src="{{banner.bannerImg}}" height="80px" width="100%">
          <h4>{{banner.context}}</h4>
        </ion-slide>
      </ion-slide-box>

      <ion-item  ng-repeat="dynamic in dynamics"  href="#/tabs{{type}}/dynamic-tabs/school-dynamic/{{dynamic.id}}">
        <h4>{{dynamic.title}}</h4>
        <p>{{dynamic.content}}</p>
        <h6 style="float: right">{{dynamic.time | date : 'yyyy-MM-dd'}}</h6>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
