<ion-view>
  <ion-nav-title class="title">
    <span class="title">学生动态</span>
  </ion-nav-title>
  <ion-content class="list">
    <ion-item class="item" ng-repeat="stuDynamic in  stuDynamics">
      <div class="item-avatar">
      <img src="{{stuDynamic.img}}">
      <h5>{{stuDynamic.name}}</h5>
      <p>{{stuDynamic.content}}</p>
      <p>{{stuDynamic.time | date:'yyyy-MM-dd'}}</p>
      </div>
      <div class="comments" ><i class="ion-chatbox-working"></i></div>

    </ion-item>

  </ion-content>
</ion-view>

