
<ion-view>
  <ion-nav-title>
    <p class="title">我要发布</p>
  </ion-nav-title>
  <ion-content >


    <textarea class="issue" placeholder="我想说……" ng-model="msg.content"></textarea>


    <div class="item item-stacked-label" style="padding: 5px 0 0px 0px;">
      <ion-scroll direction="x">
        <div>
          <img src="img/personal/FB.png" ng-click="clickPhoto()" class="image-list-thumb" style="height: 84px;width: 70px;border: solid #c6c6c6 1px; margin: 5px 10px;">
          <img ng-repeat="image in photos"  ng-click="replaceImage($index)" ng-src="{{$root.imageUrl+image}}" class="image-list-thumb" style="height: 84px;width: 70px;border: solid #c6c6c6 1px; margin: 5px 10px;">
        </div>
      </ion-scroll>
    </div>

    <div class="padding">
    <button class="button button-full button-pink " style="border-radius: 10px"  ng-click="onSubmit()">确定提交</button>
</div>
    <!--<div class="padding">-->
      <!--<button class="button button-full button-pink " style="border-radius: 10px" ng-click="">确定提交</button>-->
    <!--</div>-->
  </ion-content>

</ion-view>
