<ion-view hide-back-button="true">
  <ion-nav-title>
    <span class="title">我的动态</span>
  </ion-nav-title >
  <ion-nav-buttons>
    <button class="button light button-icon icon ion-ios-arrow-back" ui-sref="tabs.person{{type}}"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button light button-icon icon ion-plus" ng-click="goIssue()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span class="title">
      个人动态
    </span>
  </ion-nav-title>

  <ion-content style="background-color: #f1f1f1">

    <div class="list" style="padding: 15px 0px;">
      <ion-item class="item" ng-repeat="myDynamic in  myDynamics | orderBy:'-IssueTime'">
        <p style="margin: 5px 0px 0px 10px;">{{myDynamic['IssueTime'] | date : 'yyyy-MM-dd'}}</p>

        <div class="item-avatar mydy">

          <div ng-if="myDynamic['Content'].length >36">

            <a ng-repeat="img in myDynamic['PicListRef']">
              <img ng-src="{{rootPicUrl+ img['Url']}}" style="width: 100px;height:100px" ng-click="openBigImage_star(rootPicUrl+ img['Url'])">
            </a>
            <div id="{{$index+'contentMyDynamic'}}"> {{myDynamic['Content'] |ifMore}}</div>
            <div id="{{$index+'moreContentMyDynamic'}}" style="display: none"><br>
             <span class="row">
              <i class="ion-ios-heart-outline" style="color:#f96a9f " ng-if="myDynamic['LikeName'].length>0"></i>
            <p ng-repeat="likeName in myDynamic['LikeName']" style="color: #009689">
              &nbsp;&nbsp;{{likeName}},
            </p>
            </span>
            </div>

            <div>
              <a ng-click="showContent($index)" id="{{ $index +'dynamicMyContentState'}}" style="color: #f96a9f;">全文</a>
            </div>
            <div class="likeName">
              <p style="float:left;color: #f65492" ng-repeat="likeName in   myDynamic['LikeName']">{{likeName}}</p>

            </div>
           </div>

          <div ng-if="myDynamic['Content'].length <=36">
            <a ng-repeat="img in myDynamic['PicListRef']">
              <img ng-src="{{rootPicUrl+ img['Url']}}" ng-click="openBigImage_star(rootPicUrl+ img['Url'])" style="width: 100px;height:100px">
            </a>
             <p> {{myDynamic['Content']}}</p>
<!--<<<<<<< HEAD-->
            <br>
             <span class="row">
              <i class="ion-ios-heart-outline" style="color:#f96a9f " ng-if="myDynamic['LikeName'].length>0"></i>&nbsp;
            <p ng-repeat="likeName in myDynamic['LikeName']" style="color: #009689">
              {{likeName}},
            </p>
            </span>
<!--=======-->
            <!--<div class="likeName">-->
              <!--<p style="float:left;color: #f65492" ng-repeat="likeName in   myDynamic['LikeName']">{   </div>-->
<!--&gt;>>>>>> 0fd8bc45081397f38994d87256ae04d4314be7c7-->
          </div>
        </div>
        <div class="comments">
          <div id="{{$index+'MyDynamic'}}" style="display: none; margin: 0px 34px -36px 10px;">
            <a class="button buttonDy" style="line-height: 26px;width: 75px;height:26px;margin-bottom: 12px;font-size: 16px" ng-click="likeAdd($index,myDynamic._id)"><i style="margin: 0 3px 0 0" class="ion-ios-heart-outline"></i>赞</a>
            <a class="button buttonDy" style="line-height: 26px;width: 75px;height:26px;margin-bottom: 12px;font-size: 16px" ng-click="shareWeChat($index,myDynamic._id)"><i class="ion-ios-redo-outline"></i>分享</a>
        </div>
        </div>
        <img src="img/dp.png" ng-click="showClickDynamic($index)" style="height: 15px; width: 23px;margin: 2px 5px 20px 0px;float: right;"/>
      </ion-item>
    </div>


  </ion-content>
</ion-view>
