<ion-view hide-back-button="true">
  <ion-nav-buttons side="right">
    <button class="button light button-icon icon ion-ios-camera-outline" ng-click="goAddImg()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span class="title">
      个人风采
    </span>
  </ion-nav-title>
  <ion-nav-buttons >
    <button class="button light button-icon icon ion-ios-arrow-back" ui-sref="tabs.person_teacher"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item style="    border: none;">
       <span ng-repeat="styleItem in styleList | orderBy: '-Time'">
         <p style="margin: 5px 10px;">{{styleItem['Time'] |date:'yyyy-MM-dd'}}</p>
         <span ng-repeat="img in styleItem['PicListRef']">
           <img  ng-src="{{rootPicUrl+img['Url']}}" style="height: 110px;width:110px;    margin: 0px 0px 0px 5px;" ng-click="openBigImage_star(rootPicUrl+img['Url'])">
         </span>
         <hr style="border: 1px solid; color: #ddd;">
      </span>

    </ion-list>

  </ion-content>
</ion-view>
