<ion-view>

  <ion-content style="background-color: #f1f1f1">
    <ion-list>
      <ion-item>
        <span ng-repeat="imgDetail in teacher['StyleItem'] |orderBy:'-Time'" >
         <p>{{imgDetail['Time'] |date:'yyyy-MM-dd'}}</p>
         <span ng-repeat="img in imgDetail['PicListRef']">
           <img ng-src="{{rootPicUrl + img['Url']}}" style="height: 110px;width:110px" ng-click="openBigImage_star(rootPicUrl + img['Url'])">
         </span>
          <hr style="border: solid #dddddd 0.5px">
        </span>

      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
