<ion-view>

  <ion-nav-title>
    <span class="title">考核详情</span>
  </ion-nav-title>

  <ion-content>
    <div >
      <img src="img/stuperson/tit1.png" class="tit1">
      <div class="checkDet ">

        <p>科目名称：{{learn.CourseName}}</p>
        <p>综合成绩：{{learn.Grade}}</p>
      </div>
      <div style="margin: 0 40px 0;">
        <div ng-repeat="detail in learn.GradeDetails track by $index">
          {{detail.Lesson}}：<p class="checkscose">{{detail.Level}}</p>
        </div>
      </div>
      <hr style="border: solid 1px gainsboro;opacity: 0.3">
      <div>
        <img src="img/stuperson/tit1.png" class="tit1">
        <p class="cheComments">评语：{{learn.AssessmentComment}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
