<ion-view>
  <ion-nav-title>
    <span class="title">
      学员荣耀
    </span>
  </ion-nav-title>
  <ion-nav-buttons>
    <button class="button button-icon light ion-ios-arrow-back" ui-sref="tabs.person_stu"></button>
  </ion-nav-buttons>


  <ion-content>
    <div class="list" >
      <ion-item class=" learn item-icon-right" ng-repeat="learn in learns" ng-click="goHonorDetail(learn)" >
        <div>
        <h3>{{learn['Title']}}</h3>
        <h5>{{learn['Description'] | ifMore}}</h5>
        <p style="padding-left: 50%">发布时间:{{learn['Time'] |date:'yyyy-MM-dd'}}</div>
        <i class="icon ion-chevron-right icon-accessory" style="color: #BBEDEF"></i></div>
      </ion-item>
    </div>
  </ion-content>


</ion-view>
