<ion-view>
  <ion-nav-title>
    <span class="title">学习情形</span>
  </ion-nav-title>
  <ion-nav-buttons >
    <button class="button light button-icon icon ion-ios-arrow-back" ui-sref="tabs.person_stu"></button>
  </ion-nav-buttons>
  <ion-content>

    <div class="list" >
      <ion-item class=" learn item-icon-right" ng-repeat="learn in learns" ng-click="goCheckDeatil(learn)" >
        <div style="margin: 0 3% 0px 0px;    font-size: 95%;">
          科目：{{learn.CourseName}}<div style="    margin: -25px 0 0 47%;">综合成绩：{{learn.Grade}}</div>
        </div>

        <div style="     margin: 0 3% 0px 0px;    font-size: 95%;">考核老师：{{learn.AssessmentRef.Name}}<div style=" margin: -25px 0 0 47%;">考核时间：{{learn.Time |date:'yyyy-MM-dd'}}</div></div>
        <i class="icon ion-chevron-right icon-accessory" style="color: #BBEDEF"></i>
      </ion-item>
    </div>

  </ion-content>
</ion-view>
