<ion-view>
  <ion-nav-title>
    <span class="title">学习情形</span>
  </ion-nav-title>
  <ion-nav-buttons >
    <button class="button light button-icon icon ion-ios-arrow-back" ui-sref="tabs.person_stu"></button>
  </ion-nav-buttons>
  <ion-content>

    <div class="list" >
      <ion-item class=" learn item-icon-right" ng-repeat="learn in learns" ng-click="goCheckDeatil(learn)" >
        <div style="     margin: 0 3% 0px 0px;">
          科目：{{learn.course_name}}<div style="    margin: -21px 0 0 47%;">综合成绩：{{learn.grade}}</div>
        </div>

        <div style="     margin: 0 3% 0px 0px;">考核老师：{{learn.assessment_id.name}}<div style="    margin: -21px 0 0 47%;">考核时间：{{learn.asTime |date:'yyyy-MM-dd'}}</div></div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </div>

  </ion-content>
</ion-view>
