/* Empty. Add your own CSS if you like */
.box{
  width: 100%;
  height: 160px;
}
div > img{
  width: 100%;
  height: 100%;
}
td {
  width: 100%;
  height: 100%;
}
.box2{
  border: dashed black 1px;height: 60px;width: auto;padding-top: 10px
}
.schooldyn{
  border: dashed black 1px;height: 35px;width: auto;line-height:30px
}
.schooldyn-mome{
  float: right;margin: 4px 8px 0
}
.schoolres{
  border: dashed black 1px;height: auto;width: auto;
}
.txt{
  margin: 0 0 0px;
}
.button-bar > .button {    padding: 0 0px;}
.item{padding: 10px 5px 0px;    margin: 0px;}
.more{  float: right;
  margin: -5px 7px 0;font-size: 15px;}

.photo{max-width:55px ;max-height: 55px;float: left;    margin: 10px 2% 0;}
.up{margin: 10px 10px 0 75px;height: auto;padding-top: 5px}
.time{    margin: 0px 0 5px;}
.mypost{margin: 0 0 0px;text-align: justify;}
.comments{text-align: right;font-size: 20px;    margin: -30px 5px 0px;}
.apply{
  width: 85%;height: 150px;    margin: 5% 8% 0px;
}
.apply1{
  margin-left: 8%;
}
.apply2{margin: 0 38% 0}

.headbk{height: 140px}
.mebk{width: 100%;height: 100px}
.head{width: 55px;height: 55px;    margin: -30px 20px 0;}
.myneme{ margin: -24px 95px 0;}
.ion-edit{font-size: 25px;float: right;margin: -27px 20px 0;}
.stud{margin-top: 5%}
.buttonPer{width: 32%;line-height: 2.42857;margin: 0 -5px 0}
