/* Empty. Add your own CSS if you like */
.rightbtom{
  background-color: #fff;
  color: #3cc3aa;
}
.box{
  width: 100%;
  height: 160px;
}
div > img{
  width: 100%;
  height: 100%;
}
td {
  width: 100%;
  height: 100%;
}
.box2{
  border: dashed black 1px;height: 60px;width: auto;padding-top: 10px
}
.logininput{width: 80%;height: 35px;border: solid 1px white;border-radius: 10px;    margin: 15px 10%;}
.loginaccount{background-color: rgba(255, 255, 255, 0);border-radius: 10px;width: 190px;    margin: -32px 40px;
}
.mebk{width:100px;height:100px;border-radius:100px;margin: 8% 8%;}
.loginbk{height: auto;}
.loginforget{color: #ffffff;font-weight:bold;    margin: 5% 5% 0px 0;
}
.login{width: 80%;margin: 5% 11%;box-shadow:#f96a9f 0px 23px 20px -20px ;font-size: 14px;}
.register{width: 80%;margin: 0% 11%;box-shadow:#f96a9f 0px 23px 20px -20px ;font-size: 14px;}

/*注册界面*/
.reginput{width: 80%;height: 35px;border: solid 1px white;border-radius: 10px;    margin: 15px 10%;}
.verify{width: 50%;height: 35px;border: solid 1px white;border-radius: 10px;    margin: 15px 10%;}
.login4{text-align: center;padding-top: 50px;}
.pink-bg{background-color: #f96a9f;}
.pink-sure{background-color: #f96a9f;}
.tt{border-radius: 10px;font-size: 14px; float: right;  margin: -55px 10%; width: 30%;min-height: 39px;box-shadow:#f96a9f 0px 23px 20px -20px ;}
/*首页*/
.schooldyn{
  border: dashed black 1px;height: 35px;width: auto;line-height:30px
}
.schooldyn-mome{
  float: right;margin: 4px 8px 0
}
.schoolres{
  border: dashed black 1px;height: auto;width: auto;
}
.schsynopsis{text-decoration: none;
  color: black;}
.txt{  margin: 0 0 0px;  }
.shadow{box-shadow: 0 1px 3px 1px gainsboro }
.button-bar > .button {    padding: 0 0px;}
.item{padding: 10px 5px 0px;    margin: 0px;}
.more{  float: right;
  margin: 0px 7px 0;font-size: 15px;}

.photo{max-width:55px ;max-height: 55px;float: left;    margin: 10px 2% 0;}
.up{margin: 10px 10px 0 75px;height: auto;padding-top: 5px}
.time{    margin: 0px 0 5px;}
.mypost{margin: 0 0 0px;text-align: justify;}
.comments{text-align: right;font-size: 20px;    margin: 20px 3% 7px;}
.apply{
  width: 85%;height: 150px;    margin: 5% 8% 0px;
}
.apply1{
  margin-left: 8%;
}

.a_image img{width: 60px;height:60px;display: block;margin: 10px auto -10px;}
.a_image a{font-size: 14px}
.word_green{width: 85%;margin-left: 50px;text-indent: 1.4em}
.shadow{box-shadow: 0 1px 3px 1px gainsboro }
/*学校成果*/
.outcomeImg{ height: 100px;width: 100px;    margin: 15px 0px 0px 15px;}
/*.apply2{margin: 0 38% 0}*/
/*学生个人中心*/
.a_image1 img{width: 35px;height:35px;margin: 10px auto;}
.head2{    margin: 6px 4%;display: block;}
.headbk{height: 140px}
.head{width: 70px;height: 70px; border-radius:100px  ; margin: -52px 15px 0;}
.myneme{ color: white;font-size: 17px;padding: -2px 0px 0px 10px;}
.ion-edit{font-size: 28px;color: white;    float: right;margin: 3px 5% 0px 0px;}
.stud{background-color: white;height: 80px;width: auto;    padding: 35px 0 0px 0px;}

/*考核情况*/
.tit1{height: 12px;width: 12px;    margin: 0px 0px -22px 14px;}
.cheComments{      margin: 0 14px 0px 40px;  text-align: justify;}
.checkDet{     margin: 0 0px 0 38px;}

/*个人动态*/

.mydy{    margin: 15px 0px 0px 5%;}


/*教师个人中心*/
.flor{    margin: 13px 55px 0 32%;}

/*教师个人资料*/
.message{background: white;
  margin: 20px 0px 0 0;
  padding: 10px 10px;
  text-align: justify;}


/*.buttonPer{width: 32%;line-height: 2.42857;margin: 0 -5px 0}*/
.item{  padding: 0px 0px;}
.outlogin{width: 80%;margin: 20% 11%;box-shadow: #f96a9f 0px 23px 20px -20px ;font-size: 14px;}



.checkscose{margin: -30px 75% 0;}
.learn{padding: 18px 15px;font-size: 14px}

/*提交报名-2*/
.pink-bg{background-color: #f96a9f}
.width-sumbit-btn{border-radius: 10px;box-shadow:#f96a9f 0px 23px 20px -20px ;}
.container{width: 85%;height: 40px ;line-height: 40px;margin-top: 8%;}
.warp{width: 65%;height:40px;border-radius: 10px;margin-top: -40px;margin-left: 35%}
.sub-input{border-radius: 10px;width: 100%;     margin: 0 5px;}
.word{margin-left: 17%;}
.applyinput{width: 65%;height: 35px;border: solid 1px white;border-radius: 10px;    margin: -36px 34%;}
.applyaccount{background-color: rgba(255, 255, 255, 0);border-radius: 10px;width: 190px; margin: 0 0 0 2%;}
/*提交报名-1*/
.np p{padding:0;margin: 5px;}
.opa-div{width:50%;height: 40px;font-size:12px;background: black;opacity:0.5;margin-top: -45px;}
.content_details{padding: 0 10px;text-indent: 2em;line-height:25px;margin-bottom: 20%}


.up{    margin: 10px 10px 0 75px;height: auto;padding-top: 5px}

/*动态圈*/
.ion-chatbox-working{color: #f96a9f}
.buttonDy{background-color:#f96a9f;color: white;display: inline;    margin: 0 -10px 0px 0px;}


/*教师风采*/
.buttonMin{ background: #f96a9f ; color: white;   margin: 0px -8px 0 0;  width: 110px;}
.mine{box-shadow:#f96a9f 0px 23px 20px -20px ;   }
.kk{padding: 10px 5px 10px 0px;}
.styleh{ max-height: 60px;max-width: 60px;border-radius: 60px;margin: 15px 0px 0px 5px}
.stylec{margin: -80px 10px 10px 75px; text-align: justify;}
.stylez1{    height: 27px;margin: -2px 5px 0 20px;float: left}
.styleHistor{    padding: 10px 0px 10px 10px;}
