<ion-view>
 <ion-nav-title>
   <span class="title">明星秀</span>
 </ion-nav-title>

  <ion-content  style="background-color: #f1f1f1">

      <div class="list">
        <a class="item" ng-repeat="apply in applys" ng-click="goApplyDetail(apply)">
          <div class="item-thumbnail-left">
          <img style="height: 75px;width: 80px;border-radius: 2px;" ng-src={{apply['PicRef']['Url']}}>
          <h2 style="margin: 5px 0 5px 0;">{{apply['Title']}}</h2>
          <p class="padding">报名费:{{apply['SignUpCost']}}</p>
          </div>
        </a>
      </div>

  </ion-content>
</ion-view>

