<ion-view>
  <ion-nav-title>
    <span class="title">我要报名</span>
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-arrow-back" ui-sref="tabs.apply"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-android-share-alt" ></button>
  </ion-nav-buttons>
  <ion-content>
    <h4 style="text-align: center">{{apply.title}}</h4>
    <img  style="width: 65%;height: 25%" ng-src="{{apply.img}}"/>
    <p>报名规则</p>
    <p>报名费:{{apply.cost}}元</p>
    <p>奖励积分:{{apply.awardIntegral}}</p>
    <p>截止时间:{{apply.stopTime | date:'yyyy-MM-dd'}}</p>
    <br>
    <p>{{apply.content}}</p>
    <button class="apply2" ng-click="goSubmitApply(apply.id)">我要报名</button>
  </ion-content>
</ion-view>
