<ion-view>
  <ion-nav-title>
    <span class="title">提交报名</span>
  </ion-nav-title>
  <div class="content has-header">
    <h3 style="text-align: center">{{apply.title}}</h3>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="姓名">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="电话">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
       专业：
        </div>
        <select>
          <option>舞蹈类</option>
          <option>器乐类</option>
        </select>
      </label>

      <label class="item item-input"> 现有积分:</label>

      <label class="item item-input">
        <textarea placeholder="money"></textarea>
      </label>
    </div>
    <div class="padding">
      <button class="button">提交</button>
    </div>
  </div>
</ion-view>
