<ion-view>
  <ion-nav-title>
    <span class="title">提交报名</span>
  </ion-nav-title>
 <ion-content  style="background-color: #f1f1f1">

     <!--<h3 style="text-align: center">{{apply.title}}</h3>-->
     <p style="text-align: center;margin-top: 15%;margin-bottom: 20%;font-size: 16px">请填写如下你的信息</p>
     <div class="container ">
       <div class="word">姓名：</div>
       <div class="warp">
         <input type="text" class="sub-input" ng-model="user.name"/>
       </div>
     </div>
     <div class="container ">
       <div class="word">
         电话：
       </div>
       <div class="warp">
         <input type="text" class="sub-input" ng-model="user.tele"/>
       </div>
     </div>

     <div style="width: 70%;margin-left: 15%">
       <a class="button button-pink width-sumbit-btn " style="width:100%;margin-top: 25%">提交确认</a>
     </div>

 </ion-content>
</ion-view>
